/* base elements */

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  line-height: inherit;
  padding: 0.25rem 1rem;
}

th {
  text-align: left;
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

/* utilities */

.ml05 {
  margin-left: 0.25rem;
}

.py05 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.rounded {
  border-radius: 5px;
}

.bg-silver {
  background-color: #eee;
}

.w-40 {
  width: 40%;
}

.w-15 {
  width: 15%;
}

.monospace {
  font-family: consolas, courier, monospace;
}

.cursor-help {
  cursor: help;
}

.align-tb {
  vertical-align: text-bottom;
}

.padded-text {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* misc components */

.table-light td,
.table-light th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.usa-logo rect {
  fill: #fff;
}

.select-holder {
  width: 210px;
}

@media (min-width: 40em) {
  .select-holder {
    width: 260px;
  }
}

@media (max-width: 40em) {
  .logo-holder {
    width: 100%;
    text-align: center;
  }
}

/* mapbox overrides */

.mapbox-improve-map {
  display: none;
}

/* react-virtualized-select overrides */

.Select-control {
  height: 28px;
}

.Select-input {
  height: 26px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 26px;
}

.Select-input > input {
  height: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.Select.is-focused:not(.is-open) > .Select-control {
  background: #fff;
  border-color: #007eff;
  box-shadow: none;
}

.Select.is-open > .Select-control {
  border-color: #ccc;
}

.VirtualizedSelectOption {
  cursor: pointer;
}

/* hint.css overrides */

[class*='hint-']:after {
  background: #333;
  border-radius: 4px;
  color: #fff;
  padding: 8px 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  min-width: 125px;
  white-space: normal;
}

.is-numeric[class*='hint-']:after {
  font-family: consolas, courier, monospace;
}
