table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  vertical-align: bottom;
}

th,
td {
  line-height: inherit;
  padding: 0.25rem 1rem;
}

td {
  vertical-align: top;
}

.py05 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.w-p-40 {
  width: 40%;
}

.w-p-15 {
  width: 15%;
}

.width-animate {
  transition: width 0.5s ease;
}

.monospace {
  font-family: consolas, courier, monospace;
}

.multiline-padded-text {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.table-light td,
.table-light th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.mapbox-improve-map {
  display: none;
}

.Select-control {
  height: 28px;
}

.Select-input {
  height: 26px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 26px;
}

.Select-input > input {
  height: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.Select.is-focused:not(.is-open) > .Select-control {
  background: #fff;
  border-color: #007eff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Select.is-open > .Select-control {
  border-color: #ccc;
}

.VirtualizedSelectOption {
  cursor: pointer;
}

[class*='hint-']:after {
  background: #333;
  border-radius: 4px;
  color: #fff;
  padding: 8px 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.3;
  min-width: 100px;
  white-space: normal;
}
