table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  vertical-align: bottom;
}

th,
td {
  line-height: inherit;
  padding: 0.25rem 1rem;
}

td {
  vertical-align: top;
}

.py05 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.table-light td,
.table-light th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.w-p-40 {
  width: 40%;
}

.w-p-15 {
  width: 15%;
}

.width-animate {
  transition: width 0.5s ease;
}

.monospace {
  font-family: consolas, courier, monospace;
}

.multiline-padded-text {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.mapbox-improve-map {
  display: none;
}
